
.container {
	height: 100%;
}

.main-header {
	text-align: center;
	width: 100%;
}

.mealHeader {
	margin-top: 5em;
}

.centered {
	text-align: center;
}

.form-input {
  	min-width: 200px;
}

.row {
	display: flex;
}

#mealDetails {
  	text-align: center;
  	border: 4px solid gray;
  	border-radius: 10px;
}

#submitButton {
	margin-top: 3em;
	margin-bottom: 10em;
	border-radius: 5px;
}

#clearButton {
	margin-top: 3em;
	margin-bottom: 10em;
	border-radius: 5px;
}

#chargesAndEarnings {
	display: flex;
	flex-direction: column;
}

#totalCharges {
	flex-grow: 1;
	width: 100%;
	border: 4px solid gray;
	border-radius: 10px;
}

#earningsInfo {
	flex-grow: 1;
	width: 100%;
	margin-top: 1em;
	border: 4px solid gray;
	border-radius: 10px;
}

.resetDiv {
	text-align: center;
}

#resetButton {
	margin-top: 1em;
	border-radius: 5px;
	padding-left: 3em;
	padding-right: 3em;
}

.footer {
	position: absolute;
	text-align: center;
	margin-top: 2em;
	left: 0;
	right: 0;
}

html {
	position: relative;
	min-height: 100%;
}