<!DOCTYPE html>
<html lang="en" ng-app="waitstaffApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AngularJS Waitstaff Calculator</title>
	<!-- stylesheets -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" media="screen"href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<header class="main-header">
			  <h1 class="header">Waitstaff <img src="img/logo.png"> Calculator</h1>
		</header>
		<hr>
		        <section class="content">
            <div class="row">
                <div class="col-md-6"  id="mealDetails">
                    <!-- user inputs -->
                    <header class="mealHeader">
                        <h2>Meal Details</h2>
                    </header>
                    <form name="inputForm" ng-controller="inputController" ng-submit="submit()">
                        <div class="form-group">
                            <input class="form-input" id="meal_price" type="number" placeholder="Meal Price: $" name="meal_price" ng-model="input.meal_price" min="0" step=".01" required>
                        </div>
                        <div class="form-group">
                            <input class="form-input" id="tax_rate" type="number" placeholder="Tax Rate: %" name="tax_rate" ng-model="input.tax_rate" min="0" max="50" required>
                        </div>
                        <div class="form-group">
                            <input class="form-input" id="tip_percent" type="number" placeholder="Tip Percentage: %" name="tip_percent" ng-model="input.tip_percent" min="0" required>
                        </div>
                        <input class="btn btn-primary btn-sm" type="submit" value="Submit" id="submitButton">
                        <input class="btn btn-default btn-sm" id="clearButton" type="button" value="Clear" ng-click="cancel()">
                    </form>
                </div>

                <!-- summary -->
                <div class="col-md-6" id="chargesAndEarnings">
                        <!-- customer totals -->
                        <div class="col-md-6" id="totalCharges">
                            <header>
                                <h2 class="centered">Total Charges<br></h2>
                            </header>
                            <br>
                            <div class="customer-result" ng-controller="customerController">
                                <div class="form-group">
                                    <span class="subtitle">Subtotal:</span>
                                    <span class="result">{{customer.subtotal | number:2 | currency }}</span>
                                </div>
                                <div class="form-group">
                                    <span class="subtitle">Tip:</span>
                                    <span class="result">{{customer.tip | number:2 | currency}}</span>
                                </div>
                                <div class="form-group">
                                    <span class="subtitle">Total:</span>
                                    <span class="result">{{customer.total | number:2 | currency}}</span>
                                </div>
                            </div>
                        </div>

                        <!-- all totals -->
                        <div class="col-md-6" id="earningsInfo">
                            <header>
                                <h2 class="centered">Total Earnings</h2>
                            </header>
                            <br>
                            <div class="waiter-result" ng-controller="earnController">
                            <div class="form-group">
                                <span class="subtitle">Total Tips:</span>
                                <span class="result">{{earn.tip_total | number:2 | currency}}</span>
                            </div>
                            <div class="form-group">
                                <span class="subtitle">Meal count:</span>
                                <sapn class="result">{{earn.meal_count}}</span>
                            </div>
                            <div class="form-group">
                                <span class="subtitle">Average Tip per Meal:</span>
                                <span class="result">{{earn.avg_tip | number:2 | currency}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-controller="resetController" class="resetDiv">
                <input class="btn btn-primary btn-sm" id="resetButton" type="button" value="Reset" ng-click="reset()">
            </div>
            <hr>
        </section>
	</div>
	<footer class="footer">
		<p class="row center-block">Created by <a href="http://www.bpatrickcox.com">B. Patrick Cox, Jr.</a></p>
	</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>